<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EQ_Zip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EQ_Zip.Properties.Settings>
            <setting name="LastFolder_OpenArchive" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastFolder_SaveAsArchive" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastFolder_ImportFiles" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastFolder_ExportFiles" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExportFormat" serializeAs="String">
                <value>.png</value>
            </setting>
            <setting name="MRU1" serializeAs="String">
                <value/>
            </setting>
            <setting name="MRU2" serializeAs="String">
                <value/>
            </setting>
            <setting name="MRU3" serializeAs="String">
                <value/>
            </setting>
            <setting name="MRU4" serializeAs="String">
                <value/>
            </setting>
            <setting name="MRU5" serializeAs="String">
                <value/>
            </setting>
            <setting name="MRU6" serializeAs="String">
                <value/>
            </setting>
            <setting name="MRU7" serializeAs="String">
                <value/>
            </setting>
            <setting name="MRU8" serializeAs="String">
                <value/>
            </setting>
            <setting name="MRU9" serializeAs="String">
                <value/>
            </setting>
            <setting name="RememberMRUs" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>List</value>
            </setting>
            <setting name="ImportFormat" serializeAs="String">
                <value>16-bit</value>
            </setting>
            <setting name="ConfirmExportOverwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmImportOverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfirmRenameOverwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFolder_ReplaceFile" serializeAs="String">
                <value/>
            </setting>
        </EQ_Zip.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
